{% extends "header.html" %}
{% load static %}

{% block headcontent %}
{% endblock %}

{% block welcome %}
<span class="navbar-span"> {{ host_nickname }}'s home </span>
{% endblock %}

{% block content %}


<div class="canvas-blue">

  <div class="top-function text-center">

    <!-- Add top functional icons -->
    <div class="icon-label" onclick="Visit_Ajax();">
        <a href="#"><img src="{% static "imgs/icons/paw.png" %}" alt="Go to other breeder's home" class="zoom-in"></a>
        <p>Visit Other</p>
    </div>
    <!-- end top functional icons -->


    <!-- add skill bar -->
    <!-- End Skill Bar -->

  </div>
  <!-- End of top functional bar -->



  <!-- add side functional icons -->
  <div class="container text-center m-t-70">
    <div class="icon-label icon-label-right">
        <a id="brush" href="#"><img src="{% static "imgs/icons/brush.png" %}" alt="Brush" class="zoom-in"></a>
        <p>Brush</p>
    </div>
  </div>

  <!-- end side functional icons -->


  <!-- Cat -->

  <!-- Store -->
  <!-- Code for store pop up below -->

  <!-- Modal -->
  <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="exampleModalScrollableTitle">Store</h4>
        </div>
        <!-- below is the body of modal-->
        <div class="modal-body">

          <!-- below is card1 -->
          {% for item in items %}
          <div class="card">
            <div class="row">
              <div class="col-sm-7 col-md-7 card-body">
                  <h5 class="card-title">{{item.name}}</h5>
                  <p class="card-text1">+ {{item.info_level}} {{item.info_type}} level</p>
                  <div class="row">
                    <div class="col-sm-6 col-md-6">
                      <div class="row">
                        <div class="col-sm-3 col-md-3">
                          <h6>Price: </h6>
                        </div>
                        <div class="col-sm-6 col-md-6">
                          <input type="text" id="{{item.id}}price" name="price" class="form-control input-number price" value="{{item.price}}" style="max-width: 54px; max-height: 30px; text-align: center;">
                        </div>
                        <div class="col-sm-3 col-md-3">
                          <h6>furballs </h6>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="col-md-5">
                <img src="{{ item.picture.url}}" alt="milk" class="zoom-in">
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-6"></div>
              <div class="col-md-3">
                <!-- quantity increment buttons: cited from https://bootsnipp.com/snippets/e3q3a -->
                <div class="input-group" style="width: fit-content;">
                  <span class="input-group-btn">
                    <button type="button" id="{{item.id}}" class="btn-minus btn" data-type="minus" data-field="" style="width: 10px;">
                      <span>-</span>
                    </button>
                  </span>
                  <input type="text" id="{{item.id}}quantity" class="form-control input-number quantity" value="1" min="1" style="max-width: 54px; text-align: center;">
                  <span class="input-group-btn">
                    <button type="button" id="{{item.id}}" class="btn-plus btn" data-type="plus" data-field="" style="width: 10px;">
                      <span>+</span>
                    </button>
                  </span>
                </div>
              </div>
              <div class="col-md-3">
                <button type="button" id="{{item.id}}" class="btn-primary btn-lg btn_buy">Buy</button>
              </div>
            </div>
          </div>
          <br>
          <hr>
          <!-- end of card1 -->
          {% endfor %}
        </div>
        <!-- end of the modal body -->

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
      <!-- end of the modal content -->

    </div>
    <!-- end of the modal-dialog modal-dialog-scrollable -->
  </div>
  <!-- end of the Modal -->

</div>

<input id="host_id" type="hidden" name="host_id" value={{ host_id }}>

<div class = "cat" id="cat">
</div>

<script type="text/javascript" src="{% static "js/skillbar.js" %}"></script>
<script type="text/javascript" src="{% static "js/cat.js" %}"></script>
<script type="text/javascript" src="{% static "js/house.js" %}"></script>
<!-- <script type="text/javascript" src="{% static "js/move_obj.js" %}"></script> -->
<script>
  $(document).ready(function () {
    // increment card1
    $('.btn-plus').click(function (e) {
      var item_id =  $(this).attr("id");
      e.preventDefault(); // prevent btn click
      var q = parseInt($('#'+item_id+'quantity').val()); // .val() sets the value of #quantity
      $('#'+item_id+'quantity').val(q + 1);
      var p = parseInt($('#'+item_id+'price').val()); // .val() sets the value of #quantity
      $('#'+item_id+'price').val(p/q  * (q+1));
    });

    $('.btn-minus').click(function (e) {
      var item_id =  $(this).attr("id");
      e.preventDefault(); // prevent btn click
      var q = parseInt($('#'+item_id+'quantity').val()); // .val() sets the value of #quantity
      if (q > 1) {
        $('#'+item_id+'quantity').val(q - 1);
        var p = parseInt($('#'+item_id+'price').val()); // .val() sets the value of #quantity
        $('#'+item_id+'price').val(p/q  * (q - 1));
      }
    });

    $('.btn_buy').click(function (e) {
      var item_id =  $(this).attr("id");
      var amount = $('#'+item_id+'quantity').val();
      $.ajax({
          url: '{% url "buy_item" %}',
          data: {
            'request_purchase': 'true',
            'item_id': item_id,
            'amount': amount
          },
          dataType: 'json',
          success: function (data) {
            if(data.status == 'success'){
                location.reload();
            } else if(data.status == 'error'){
                alert("You don't have enough furballs. Go pat some cats!");
            }
          }
        });
    });
  });
</script>

<script type="text/javascript">

  img_path = "{% static "imgs/"%}"

  collie.ImageManager.add({
    oreo: img_path + "oreo_nobgr.png",
    cereal: img_path + "cereal_nobgr.png",
    house: img_path + "house.png"
  });

  var layer = new collie.Layer({
    width: 500,
    height: 200,
  });

  movable_obj = null;
  htStartPosition = {};
  htSelectedDisplayObjectPosition = {};
  oLayer = null;
  var oLayer = new collie.Layer({
    width: 900,
    height: 400,
  });

  collie.util.addEventListener(window, "load", function () {
    oConsole = new collie.FPSConsole({color: "rgba(0, 0, 0, 0)",}); //hide
    var htParams = collie.util.queryString();
    var nCount = htParams.count ? htParams.count : 100;
    var htSize = {
      width: document.body.clientWidth,
      height: document.body.clientHeight
    };


    collie.Renderer.DEBUG_RENDERING_MODE = typeof htParams.dom != "undefined" ? "dom" : (typeof htParams.canvas !=
      "undefined" ? "canvas" : "auto");



    mousedown_fn = function (oEvent) {
      if (oEvent.displayObject) {
        if (oEvent.displayObject.get("class_name") == "Cat" || oEvent.displayObject.get("class_name") == "House" ) {
          movable_obj = oEvent.displayObject;
          movable_obj.set({
            scaleX: oEvent.displayObject.get("scale") * 1.1,
            scaleY: oEvent.displayObject.get("scale") * 1.1
          });

          htStartPosition = {
            x: oEvent.x,
            y: oEvent.y
          };
          htSelectedDisplayObjectPosition = {
            x: movable_obj.get("x"),
            y: movable_obj.get("y")
          };
        }

        if (oEvent.displayObject.get("class_name") == "Cat") {
          console.log(oEvent.displayObject.get("id"))
          console.log("CLICKED_BRUSH")
          console.log(CLICKED_BRUSH)
          if (CLICKED_BRUSH == 1) {
            var element_host_id = $("#host_id");
            var host_id = element_host_id.val();
            console.log(host_id)
            $.ajax({
                url: '{% url "daodan" %}',
                data: {
                  'request_action': 'true',
                  'this_host': host_id,
                  'visit_interaction': 'pat',
                  'cat_id': oEvent.displayObject.get("id")
                },
                dataType: 'json',
                success: function (data) {
                  location.reload();
                }
              });
            CLICKED_BRUSH == 0;
          }
        }
      }
      // movable_obj.show_skill_bar();
    },

    mouseup_fn = function (oEvent) {
      if (movable_obj !== null) {
        oEvent.displayObject.set({
          scaleX: oEvent.displayObject.get("scale"),
          scaleY: oEvent.displayObject.get("scale")
        });

        movable_obj = null;
        htSelectedDisplayObjectPosition = htStartPosition = {};

        oLayer.removeChild(oEvent.displayObject);
        oLayer.addChild(oEvent.displayObject);
      }
    },

    mousemove_fn = function (oEvent) {
      if (movable_obj !== null) {
        var x = htStartPosition.x - oEvent.x;
        var y = htStartPosition.y - oEvent.y;
        movable_obj.set({
          x: htSelectedDisplayObjectPosition.x - x,
          y: htSelectedDisplayObjectPosition.y - y
        });
      }
    }

    var oSelectedDisplayObject = null;
    var htStartPosition = {};
    var htSelectedDisplayObjectPosition = {};

    var cat_cereal = new Cat({
      x: 300,
      y: 20,
      scaleX: 0.3,
      scaleY: 0.3,
      scale : 0.3,
      useEvent: true,
      backgroundImage: "cereal",
      level_health: 0.2,
      level_clean: 0.5,
      level_food: 0.6,
      id: "1"
    }).addTo(oLayer).show_skill_bar();

    var house = new House({
      x: -100,
      y: -50,
      scaleX: 0.4,
      scaleY: 0.4,
      scale : 0.4,
      useEvent: true,
      backgroundImage: "house",
      level: 1,
      qt: 2,
      capacity: 5,
    }).addTo(oLayer)

    oLayer.attach({
      mousedown: mousedown_fn,
      mouseup:mouseup_fn,
      mousemove:mousemove_fn,
    });

    oConsole.load();
    collie.Renderer.addLayer(oLayer);
    collie.Renderer.load(document.getElementById("cat"));
    collie.Renderer.start("30fps");
  });

  {% for c in cats %}
  var cat = new Cat({
    x: 200,
    y: 100,
    scaleX: 0.3,
    scaleY: 0.3,
    scale : 0.3,
    useEvent: true,
    backgroundImage: "oreo",
    level_health: {{c.health}}/100,
    level_clean: {{c.cleanness}}/100,
    level_food: {{c.food_level}}/100,
    fur_amount: {{c.fur_amount}}/5,
    id: {{c.id}}
  }).addTo(oLayer).show_skill_bar();

  {% endfor %}

</script>


<!-- This is for brushing -->
<script type="text/javascript">
  $(document).ready(function () {
    $('#brush').click(function (e) {
      CLICKED_BRUSH = 1;
    })
  })
</script>

<!-- This is for visit other -->
<script type="text/javascript">
  var Visit_Ajax = function () {
    console.log("visit other button pressed")
    $.ajax({
      type: "GET",
      xhrFileds: { withCredentials: true },
      url: "{% url 'go_visit' %}",
      data: {
              'visit': true,
            },
      error: function() {
        alert("fail to visit others")
      },
      success: function(data) {
        var json = eval(data);
        if (json["success"]) {
          window.open("http://127.0.0.1:8000/"+json["url"]);
        }
      }
    });
  }
</script>
{% endblock %}
